{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3" align="center">Bienvenue sur CineChoice</h1>
        <p class="lead mt-5">Explorez le monde passionnant du cinéma à travers les yeux et les oreilles de vrais amateurs. CineChoice est l'endroit idéal pour découvrir une variété de films, des classiques intemporels aux dernières sorties. Découvrez des critiques de films, des informations sur les séances, des interviews exclusives d'acteurs et réalisateurs talentueux, et bien plus encore.<br><br>

        Que vous soyez un cinéphile chevronné ou simplement curieux de découvrir de nouveaux films, notre site est conçu pour vous. Laissez-vous emporter par la magie du cinéma et partagez cette aventure avec nous. CineChoice est une communauté où la passion pour le cinéma est au cœur de tout ce que nous faisons. Venez, explorez, partagez et laissez-vous entraîner dans l'univers du septième art.<br><br>

        Rejoignez-nous dans cette expérience cinématographique passionnante, et laissez les images vous guider à travers un monde d'émotions inoubliables.<br><br>

        Bienvenue sur CineChoice, où le cinéma prend vie.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
